@model Course.Models.Header

<div id="header_content" class="col-md-9">
    <h3>@Model.Name</h3>
    <ul id="myTags">
        <li>QQQ</li>
    </ul>
    <textarea class="header_text">
        @Model.Text
    </textarea>
</div>
 



