body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.btn:focus{
  outline: none;
}

.dl-horizontal dt {
    white-space: normal;
}

.shortLabel{
    max-width:250px;
    text-overflow:ellipsis;
    display:block;
    overflow:hidden;
    white-space:nowrap;
}

@media (max-width: 750px) {
  #page_header {
    display: none;
  }
  #username_views {
    display: none;
  }
}


 
 
