body {
}

.body-content{
}

#page_header {
    margin-bottom: 20px;
}

#creative_name_block {
    float: right;
    padding: 0;
}

#back_button {
    padding: 0;
    float: left;
}

#creative_name_input {
    display: inline-block;
    font-size: 30px;
    /*color: white;*/
}

#creative_name_input input {
    font-size: 30px;
    max-width: 260px;
    height: auto;
}

#creative_name_edit {
    display: inline-block;
    position: relative;
    top: -6px;
}

#creative_name_edit > i {
    font-size: 20px;
    /*color: white;*/
}

#Creative_Name {
    display: none;
}

#add_header {
    margin-left: -16px;
}

#headers {
    padding: 0px;
    /*background-color:white; ;*/
}

#header_content {
    min-height: 700px;
    /*background-color:white;*/
}

.header_text {
    resize: vertical;
    width: 100%;
    min-height: 100px;
}

#headers_with_content {
}

#header_content_header {
    /*background-color:white;*/
}

#header_name {
    display: inline-block;
    margin-top: 0px;
    margin-top: 12px;
    margin-bottom: 12px;
}

    #header_name > h3 {
        display: inline-block;
        margin: 0;
    }

#header_name_edit {
    display: inline-block;
}

#header_content_header > button {
    margin-top: 5px;
    display: inline-block;
    float: right;
}

#header_name_input {
    font-size: 20px;
    max-width: 260px;
    width: 260px;
    height: auto;
    display: none;
}

.delete_header {
    float: right;
    padding: 0px;
    background: none;
    border: none;
    margin: 0;
    display: none;
}

.header:hover .delete_header {
    display: block;
}

.fa-pencil { 
    cursor: pointer; 
    cursor: hand; 
}

